USE [QuanLyQuanAn]
GO
/****** Object:  UserDefinedFunction [dbo].[func_MaHDBan_TuDong]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function	[dbo].[func_MaHDBan_TuDong] (@lastMaHD varchar(10), @prefix varchar(3), @size int)
	returns varchar(10)
as
begin
	if(@lastMaHD='')
		set @lastMaHD=@prefix + REPLICATE (0,@size-LEN(@prefix))
	declare @numNextMaHD int, @nextMaHD varchar(10)
	set @lastMaHD = LTRIM(RTRIM(@lastMaHD))
	set @numNextMaHD = REPLACE(@lastMaHD,@prefix,'')+1
	set @size =@size - LEN(@prefix)
	set @nextMaHD = @prefix + REPLICATE (0,@size-LEN(@prefix))
	set @nextMaHD=@prefix+RIGHT(REPLICATE(0,@size) + CONVERT (varchar(Max),@nextMaHD),@size)
	return @nextMaHD
end

GO
/****** Object:  UserDefinedFunction [dbo].[func_MaNL_TuDong]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function	[dbo].[func_MaNL_TuDong] (@lastMaNL varchar(10), @prefix varchar(3), @size int)
	returns varchar(10)
as
begin
	if(@lastMaNL='')
		set @lastMaNL=@prefix + REPLICATE (0,@size-LEN(@prefix))
	declare @numNextMaNL int, @nextMaNL varchar(10)
	set @lastMaNL = LTRIM(RTRIM(@lastMaNL))
	set @numNextMaNL = REPLACE(@lastMaNL,@prefix,'')+1
	set @size =@size - LEN(@prefix)
	set @nextMaNL = @prefix + REPLICATE (0,@size-LEN(@prefix))
	set @nextMaNL=@prefix+RIGHT(REPLICATE(0,@size) + CONVERT (varchar(Max),@numNextMaNL),@size)
	return @nextMaNL
end
GO
/****** Object:  UserDefinedFunction [dbo].[func_MaSP_TuDong]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function	[dbo].[func_MaSP_TuDong] (@lastMaSP varchar(10), @prefix varchar(2), @size int)
	returns varchar(10)
as
begin
	if(@lastMaSP='')
		set @lastMaSP=@prefix + REPLICATE (0,@size-LEN(@prefix))
	declare @numNextMaSP int, @nextMaSP varchar(10)
	set @lastMaSP = LTRIM(RTRIM(@lastMaSP))
	set @numNextMaSP = REPLACE(@lastMaSP,@prefix,'')+1
	set @size =@size - LEN(@prefix)
	set @nextMaSP = @prefix + REPLICATE (0,@size-LEN(@prefix))
	set @nextMaSP=@prefix+RIGHT(REPLICATE(0,@size) + CONVERT (varchar(Max),@numNextMaSP),@size)
	return @nextMaSP
end
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [varchar](10) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](10) NOT NULL,
	[PHANQUYEN] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABAOCAO] [varchar](10) NOT NULL,
	[LOAIBAOCAO] [nvarchar](30) NULL,
	[NGAYTAO] [date] NULL,
	[TONGDOANHTHU] [money] NULL,
	[GHICHU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAOCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGIAOHANG]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIAOHANG](
	[MACTGH] [varchar](10) NOT NULL,
	[MAGH] [varchar](10) NULL,
	[NGAYVANCHUYEN] [date] NULL,
	[NGAYNHANHANG] [date] NULL,
	[TRANGTHAi] [nvarchar](40) NULL,
	[CHIPHIGH] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADONBAN]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONBAN](
	[MACTHDB] [varchar](10) NOT NULL,
	[MAHDBAN] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SLBAN] [int] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADONNHAP]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONNHAP](
	[MACTHDNHAP] [varchar](10) NOT NULL,
	[MAHDNHAP] [varchar](10) NULL,
	[MANL] [varchar](10) NULL,
	[SLNHAP] [int] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHDNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOHANG]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOHANG](
	[MAGH] [varchar](10) NOT NULL,
	[MAHDBAN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHDBAN] [varchar](10) NOT NULL,
	[Ngay] [date] NULL,
	[MAKH] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHDNHAP] [varchar](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[MANV] [varchar](10) NULL,
	[MANCC] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHD] [varchar](10) NOT NULL,
	[MANCC] [varchar](10) NULL,
	[CAMKET] [text] NULL,
	[DIEUKHOAN] [text] NULL,
	[NGAYKYKET] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](20) NOT NULL,
	[NAMSINH] [date] NULL,
	[SDT] [varchar](20) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SLDONDAMUA] [int] NULL,
	[LOAIKH] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[LOAIKM] [nvarchar](20) NULL,
	[CHIETKHAU] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [varchar](10) NOT NULL,
	[TENNL] [nvarchar](40) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](40) NOT NULL,
	[LIENHE] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [varchar](60) NOT NULL,
	[NAMSINH] [date] NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](20) NOT NULL,
	[LOAISP] [varchar](10) NULL,
	[DONGIA] [decimal](18, 2) NULL,
	[hinhanh] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CHITIETGIAOHANG] ([MACTGH], [MAGH], [NGAYVANCHUYEN], [NGAYNHANHANG], [TRANGTHAi], [CHIPHIGH]) VALUES (N'CTGH01', N'GH01', CAST(N'2022-08-22' AS Date), CAST(N'2020-12-14' AS Date), N'Đang giao', 20)
INSERT [dbo].[CHITIETGIAOHANG] ([MACTGH], [MAGH], [NGAYVANCHUYEN], [NGAYNHANHANG], [TRANGTHAi], [CHIPHIGH]) VALUES (N'CTGH02', N'GH01', CAST(N'2022-09-12' AS Date), CAST(N'2023-10-18' AS Date), N'Đã giao hàng', 12)
INSERT [dbo].[CHITIETGIAOHANG] ([MACTGH], [MAGH], [NGAYVANCHUYEN], [NGAYNHANHANG], [TRANGTHAi], [CHIPHIGH]) VALUES (N'CTGH03', N'GH01', CAST(N'2022-03-02' AS Date), CAST(N'2022-12-16' AS Date), N'Đang giao', 10)
GO
INSERT [dbo].[CHITIETHOADONBAN] ([MACTHDB], [MAHDBAN], [MASP], [SLBAN], [THANHTIEN]) VALUES (N'CTHD01', N'HDB01', N'SP01', 2, 100)
INSERT [dbo].[CHITIETHOADONBAN] ([MACTHDB], [MAHDBAN], [MASP], [SLBAN], [THANHTIEN]) VALUES (N'CTHD02', N'HDB02', N'SP03', 3, 300)
INSERT [dbo].[CHITIETHOADONBAN] ([MACTHDB], [MAHDBAN], [MASP], [SLBAN], [THANHTIEN]) VALUES (N'CTHD03', N'HDB03', N'SP05', 5, 400)
GO
INSERT [dbo].[CHITIETHOADONNHAP] ([MACTHDNHAP], [MAHDNHAP], [MANL], [SLNHAP], [THANHTIEN]) VALUES (N'CTHD01', N'HDN02', N'NL01', 3, 170)
INSERT [dbo].[CHITIETHOADONNHAP] ([MACTHDNHAP], [MAHDNHAP], [MANL], [SLNHAP], [THANHTIEN]) VALUES (N'CTHD02', N'HDN01', N'NL01', 4, 270)
INSERT [dbo].[CHITIETHOADONNHAP] ([MACTHDNHAP], [MAHDNHAP], [MANL], [SLNHAP], [THANHTIEN]) VALUES (N'CTHD03', N'HDN03', N'NL02', 2, 100)
GO
INSERT [dbo].[GIAOHANG] ([MAGH], [MAHDBAN]) VALUES (N'GH01', N'HDB01')
GO
INSERT [dbo].[HOADONBAN] ([MAHDBAN], [Ngay], [MAKH], [MANV]) VALUES (N'HDB01', CAST(N'2022-01-02' AS Date), N'KH01', N'NV01')
INSERT [dbo].[HOADONBAN] ([MAHDBAN], [Ngay], [MAKH], [MANV]) VALUES (N'HDB02', CAST(N'2022-06-01' AS Date), N'KH02', N'NV02')
INSERT [dbo].[HOADONBAN] ([MAHDBAN], [Ngay], [MAKH], [MANV]) VALUES (N'HDB03', CAST(N'2022-08-08' AS Date), N'KH03', N'NV02')
GO
INSERT [dbo].[HOADONNHAP] ([MAHDNHAP], [NGAYNHAP], [MANV], [MANCC]) VALUES (N'HDN01', CAST(N'2022-02-18' AS Date), N'NV05', N'NCC01')
INSERT [dbo].[HOADONNHAP] ([MAHDNHAP], [NGAYNHAP], [MANV], [MANCC]) VALUES (N'HDN02', CAST(N'2022-02-18' AS Date), N'NV05', N'NCC01')
INSERT [dbo].[HOADONNHAP] ([MAHDNHAP], [NGAYNHAP], [MANV], [MANCC]) VALUES (N'HDN03', CAST(N'2022-03-18' AS Date), N'NV03', N'NCC02')
GO
INSERT [dbo].[HOPDONG] ([MAHD], [MANCC], [CAMKET], [DIEUKHOAN], [NGAYKYKET], [NGAYKETTHUC]) VALUES (N'HD01', N'NCC01', N'dâsdasdasd', N'3 nam', CAST(N'2020-09-12' AS Date), CAST(N'2023-09-03' AS Date))
INSERT [dbo].[HOPDONG] ([MAHD], [MANCC], [CAMKET], [DIEUKHOAN], [NGAYKYKET], [NGAYKETTHUC]) VALUES (N'HD02', N'NCC01', N'dâsdasdasd', N'3 nam', CAST(N'2020-09-12' AS Date), CAST(N'2023-09-03' AS Date))
INSERT [dbo].[HOPDONG] ([MAHD], [MANCC], [CAMKET], [DIEUKHOAN], [NGAYKYKET], [NGAYKETTHUC]) VALUES (N'HD03', N'NCC03', N'dâsdasdasd', N'3 nam', CAST(N'2020-09-12' AS Date), CAST(N'2023-09-03' AS Date))
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NAMSINH], [SDT], [DIACHI], [EMAIL], [SLDONDAMUA], [LOAIKH]) VALUES (N'KH01', N'Đỗ Trường Kỳ', CAST(N'2002-12-13' AS Date), N'031231231', N'12 Cầu Giấy', N'mothaiba@gmail.com', 4, N'Normal')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NAMSINH], [SDT], [DIACHI], [EMAIL], [SLDONDAMUA], [LOAIKH]) VALUES (N'KH02', N'Lê Văn Phong', CAST(N'2002-10-09' AS Date), N'012314415', N'13 Cộng Hòa ', N'bonnamsau@gmail.com', 12, N'Vip')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NAMSINH], [SDT], [DIACHI], [EMAIL], [SLDONDAMUA], [LOAIKH]) VALUES (N'KH03', N'Phương Nghi', CAST(N'2002-12-02' AS Date), N'03123412', N'14 Sư Vạn Hạnh', NULL, 5, N'Normal')
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'LSP01', N'Đồ ăn mặn')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'LSP02', N'Đồ chay')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'LSP03', N'Tráng miệng')
GO
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [SOLUONG], [DONVITINH]) VALUES (N'NL01', N'Tôm hùm', 4, N'Kg')
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [SOLUONG], [DONVITINH]) VALUES (N'NL02', N'Bào ngư', 20, N'Kg')
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [SOLUONG], [DONVITINH]) VALUES (N'NL03', N'Vi cá mập', 10, N'Kg')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [LIENHE]) VALUES (N'NCC01', N'Coca Cola', N'0123123   ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [LIENHE]) VALUES (N'NCC02', N'Pepsi', N'0312312371')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [LIENHE]) VALUES (N'NCC03', N'7UP', N'0312312371')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NAMSINH], [SDT], [DIACHI], [EMAIL], [CCCD], [TRANGTHAI]) VALUES (N'NV01', N'Do Anh Duy', CAST(N'2001-11-14' AS Date), N'012310121 ', N'22 Tấn Hải', N'Toilaconmeo@gmail.com', N'123123121', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NAMSINH], [SDT], [DIACHI], [EMAIL], [CCCD], [TRANGTHAI]) VALUES (N'NV02', N'Bui Chi Cuong', CAST(N'2002-10-12' AS Date), N'0123125144', N'11 Sư Vạn Hạnh', N'Conmeomapmap@gmail.com', N'41231231', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NAMSINH], [SDT], [DIACHI], [EMAIL], [CCCD], [TRANGTHAI]) VALUES (N'NV03', N'Lam Trung Nghia', CAST(N'2002-01-03' AS Date), N'089765567 ', N'33 Lý Chính Thắng', N'Conmeobietyeu@gmail.com', N'9871412', 0)
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [DONGIA], [hinhanh]) VALUES (N'SP01', N'Cơm tấm', N'LSP01', CAST(35.00 AS Decimal(18, 2)), N'https://cookbeo.com/media/2021/10/com-tam/com-tam-5x7.jpg')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [DONGIA], [hinhanh]) VALUES (N'SP02', N'Bún cá', N'LSP01', CAST(40.00 AS Decimal(18, 2)), N'https://cdn.tgdd.vn/Files/2021/09/11/1381884/cach-nau-bun-ca-ha-noi-thom-ngon-chuan-vi-202109111452323215.jpg')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [DONGIA], [hinhanh]) VALUES (N'SP03', N'Bún riu cua', N'LSP01', CAST(40.00 AS Decimal(18, 2)), N'https://i.ytimg.com/vi/C1P1Cw9J1-I/maxresdefault.jpg')
GO
ALTER TABLE [dbo].[CHITIETGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETGIAOHANG_GIAOHANG] FOREIGN KEY([MAGH])
REFERENCES [dbo].[GIAOHANG] ([MAGH])
GO
ALTER TABLE [dbo].[CHITIETGIAOHANG] CHECK CONSTRAINT [FK_CHITIETGIAOHANG_GIAOHANG]
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_MAHD] FOREIGN KEY([MAHDBAN])
REFERENCES [dbo].[HOADONBAN] ([MAHDBAN])
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] CHECK CONSTRAINT [FK_CTHD_MAHD]
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CTHDB_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] CHECK CONSTRAINT [FK_CTHDB_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTHDNHAP_MAHDNHAP] FOREIGN KEY([MAHDNHAP])
REFERENCES [dbo].[HOADONNHAP] ([MAHDNHAP])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CTHDNHAP_MAHDNHAP]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTHDNHAP_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CTHDNHAP_NGUYENLIEU]
GO
ALTER TABLE [dbo].[GIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIAOHANG_MAHDBAN] FOREIGN KEY([MAHDBAN])
REFERENCES [dbo].[HOADONBAN] ([MAHDBAN])
GO
ALTER TABLE [dbo].[GIAOHANG] CHECK CONSTRAINT [FK_GIAOHANG_MAHDBAN]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_HDBAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HDBAN_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_HDBAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HDBAN_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HDNHAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HDNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HDNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HDNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LOAISP] FOREIGN KEY([LOAISP])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_LOAISP]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatLoaiKhachHang]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_CapNhatLoaiKhachHang]
as
	begin
		Declare @makh char(10)  ---khai báo biến cục bộ
		declare cr_update cursor ----khai báo biến con trỏ
		for select MAKH from KHACHHANG ---lấy ra mã giao hang
		open cr_update		---B2: mở con trỏ
		fetch next from cr_update into @makh ---di chuyển con trỏ đến Record đầu tiên để đọc dữ liệu MaGH vào trong @magh
		while @@FETCH_STATUS=0
		begin
			declare @loaikh varchar(10)
			declare @sodondamua int
			select @sodondamua=SLDONDAMUA
			from KHACHHANG
			where MAKH=@makh
			if @sodondamua > 10
				begin
					SET @loaikh = N'Vip'
					update KHACHHANG
					set LOAIKH=@loaikh
					WHERE MAKH=@makh
				end
			else
				begin
					SET @loaikh = N'Normal'
					update KHACHHANG
					set LOAIKH=@loaikh
					WHERE MAKH=@makh
				end
			---cap nhat cột trang thai trong bảng chi tiet giao hang
			fetch next from cr_update into @makh	---di chuyển con trỏ qua record kế tiếp, đọc MAGH -> @magh
		end ---end của while
		close cr_update
		deallocate cr_update
	end ---end của proc
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTrangThaiGiaoHang]    Script Date: 12/23/2022 2:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_CapNhatTrangThaiGiaoHang]
as
	begin
		Declare @mactgh char(10)  ---khai báo biến cục bộ
		---B1: khai báo con trỏ
		declare cr_update cursor ----khai báo biến con trỏ
		for select MACTGH from CHITIETGIAOHANG ---lấy ra mã giao hang

		---B2: mở con trỏ
		open cr_update
		---B3: Xử lý
		fetch next from cr_update into @mactgh ---di chuyển con trỏ đến Record đầu tiên để đọc dữ liệu MaGH vào trong @magh

		

		while @@FETCH_STATUS=0
		begin
			declare @trangthai nvarchar(40)
			declare @ngaynhanhang date
			declare @ngayhientai date
			set @ngayhientai = GETDATE()
			select @ngaynhanhang=NGAYNHANHANG
			from CHITIETGIAOHANG
			where MACTGH=@mactgh
			if @ngaynhanhang > @ngayhientai
				begin
					SET @trangthai=N'Đã giao hàng'
					update CHITIETGIAOHANG
					set TRANGTHAi=@trangthai
					WHERE MACTGH=@mactgh
				end
			else
				begin
					SET @trangthai=N'Đang giao'
					update CHITIETGIAOHANG
					set TRANGTHAi=@trangthai
					WHERE MACTGH=@mactgh
				end
			---cap nhat cột trang thai trong bảng chi tiet giao hang

			---di chuyển con trỏ qua record kế tiếp, đọc MAGH -> @magh
			fetch next from cr_update into @mactgh
		end ---end của while
		close cr_update
		deallocate cr_update
	end ---end của proc
GO
